ul.main_menu {
  display: flex;
  list-style: none;
  background-color: blue;
  color: white;
}

ul.main_menu a {
  display: inline-block;
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  margin-left: 20px;
}
