h1 {
  display: flex;
  justify-content: center;
}
.login_form {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box > input {
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 14pt;
  width: 100%;
}
input::placeholder {
  color: transparent;
}
input:placeholder-shown + label {
  color: #aaa;
  font-size: 14pt;
  top: 15px;
}
input:focus + label,
label {
  color: #8aa1a1;
  font-size: 10pt;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 0.2s;
}

input:focus {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}
button {
  background-color: #8aa1a1;
  border: none;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: 14pt;
  margin-top: 50px;
  cursor: pointer;
}
