.App {
  text-align: center;
}

div.todo {
  background-color: aqua;
  border: 1px solid #ddd;
  width: 50%;
  margin: 0px auto;
  margin-top: 50px;
}

div.todo_input {
  width: 50%;
  border: 1px solid #eee;
  margin: 0px auto;
  box-shadow: 3px 3px 3px #eee;
}
div.todo_input input {
  width: 80%;
  margin-bottom: 15px;
  padding: 1rem;
  border: 0px;
  border-bottom: 1px solid blue;
}
div.todo_input button {
  width: 8%;
  margin-top: 15px;
  padding: 0.8rem;
  background-color: aqua;
  border: 0px solid white;
  box-shadow: 1px 1px 1px #aaa;
  font-size: 20px;
}
